header#banner.hero-unit
  //.container
  //  h1 'Allo, 'Allo!
  //  p.lead Kick-start your next web app with Angular Fullstack
  //  img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h2.page-header Product page:
      div.col-md-4.col-lg-4.col-sm-6.product
        a(href='#')
        p {{thing.info}}
        ul
          li.list-inline {{thing.price}}
          li.list-inline {{thing.weight}}
          li.list-inline {{thing.producer}}
        button.btn.btn-primary Add

  //form.thing-form
  //  label Syncs in realtime across clients
  //  p.input-group
  //    input.form-control(type='text', placeholder='Add a new thing here.', ng-model='$ctrl.newThing')
  //    span.input-group-btn
  //      button.btn.btn-primary(type='submit', ng-click='$ctrl.addThing()') Add New
