header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Products:
      div.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6.product(ng-repeat='thing in $ctrl.awesomeThings')
        a(ui-sref='product({ \'productId\': \'{{thing._id}}\' })') {{thing.name}}
        p {{thing.info}}
        span {{thing.price}}
        button.close(type='button', ng-click='$ctrl.deleteThing(thing)') &times;

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='$ctrl.newThing.name')
      textarea.form-control(placeholder='Add a new thing here.', ng-model='$ctrl.newThing.info')
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='$ctrl.newThing.producer')
      input.form-control(type='number', placeholder='Add a new thing here.', ng-model='$ctrl.newThing.producer')
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='$ctrl.newThing.producer')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='$ctrl.addThing()') Add New
